@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@layer base{

    html{
      width:100%;
      height:100%;


    }

    h2{
      @apply text-[28px] font-bold;
    }

    h3{
      @apply text-[22px] font-bold;
    }

    p{
      @apply text-[14px] leading-6;
    }

    body{
      
      width:100%;
      height:100%;
    }

    /* .delimitationblue{
      @apply border border-solid border-2 border-blue-500;
    }

    .delimitationred{
      @apply border border-solid border-2 border-red-500;
    }

    .delimitationpurple{
      @apply border border-solid border-2 border-purple-500;
    }

    .delimitationyellow{
      @apply border border-solid border-2 border-yellow-500;
    }

    .delimitationgreen{
      @apply border border-solid border-2 border-green-500;
    } */
}
